<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/animaciones.css">
  <link rel="stylesheet" href="/iconos/css/all.min.css">
  <title>loopstudios</title>
</head>

<body>
  <div class="conteiner">
    <header>
      <h1>Loopstudios</h1>
      <div class="menu">
        <form method="GET" id="form"> <a href="/home">Home</a>
        </form>
        <form method="GET" id="form"> <a href="/formulario">Form</a>
        </form>
        <form method="GET" id="form"><a href="/edit">Edit</a>
        </form>
        <form method="GET" id="form"> <a href="/delete">Delete</a>
        </form>
        <form method="GET" id="form"> <a href="/">Back</a>
        </form>
        <a href="#">Support</a>
      </div>
    </header>

    <section>
      <div class="principal">
        <p><span>IMMERSIVE</span><span>EXPERIENCES</span><span>THAT DELIVER</span></p>
      </div>
    </section>

    <section>
      <div class="imagen">
        <img src="/fotos/fondo.jpg">
      </div>

      <div class="circle">
        <svg>
          <circle></circle>
        </svg>
      </div>

      <div class="circle2">
        <svg>
          <circle></circle>
        </svg>
      </div>

      <div class="circle3">
        <svg>
          <circle></circle>
        </svg>
      </div>

      <div class="circle4">
        <svg>
          <circle></circle>
        </svg>
      </div>


      <div class="formulario">


        <p class="titulo">THE LEADER IN INTERACTIVE VR</p>
        <p class="desarrollo">founded in 2011, Loopstudios has been producing world-class<br>
          virtual reality proyects for some of the best companies around the<br>
          globe. Our aear-winning creations have trasformed<br>
          busiesses through digital experiences that bind to their brand
        </p>
        <h2>Formulario de edición</h2>
        <form action="/edit/<%= Alumno.id %>" method="post">

          <label for="user">Usuario</label>
          <input type="text" class="text" name="user" value="<%= Alumno.user %>" required>
          <br>

          <label for="password">contraseña</label>
          <input type="password" class="text" name="password" required>
          <br>

          <label for="nombre">Nombre</label>
          <input type="text" class="text" name="nombre" value="<%= Alumno.nombre %>" required>
          <br>

          <label for="apellido">Apellido</label>
          <input type="text" class="text" name="apellido" value="<%= Alumno.apellido %>" required>
          <br>

          <label for="telefono">Telefono</label>
          <input type="text" class="text" name="telefono" value="<%= Alumno.telefono %>" required>
          <br>

          <label for="ciudad">Ciudad</label>
          <input type="text" class="text" name="ciudad" value="<%= Alumno.ciudad %>" required>
          <br>

          <label for="pais">Pais</label>
          <input type="text" class="text" name="pais" value="<%= Alumno.pais %>" required>
          <br>


          <input type="submit" value="Enviar" class="button">
        </form>

      </div>
    </section>
  </div>
  </div>

  <footer class="footer2">
    <div class="parrafo1">
      <p>
        <span>THE ALANTE BLOG</span>
        <span>OUR TEAM</span>
        <span>ABOUT</span>
        <span>TESTIMONIALS</span>
        <span>CONTACT</span>
        <hr>
      </p>
    </div>

    <div class="iconos">
      <a href="#"><i class="fab fa-facebook-square"></i>
        <p>Facebook</p>
      </a>

      <a href="#"><i class="fab fa-twitter-square"></i>
        <p>Twitter</p>
      </a>

      <a href="#"><i class="fas fa-envelope"></i>
        <p>Gmail</p>
      </a>

      <a href="#"><i class="fab fa-telegram"></i>
        <p>Telegram</p>
      </a>

      <a href="#"><i class="fab fa-pinterest-square"></i>
        <p>Pinterest</p>
      </a>

      <a href="#"><i class="fab fa-google"></i>
        <p>Google</p>
      </a>

      <a href="#"><i class="fab fa-instagram-square"></i>
        <p>Instagram</p>
      </a>

    </div>

    <div class="parrafo2">
      <p>Crea tus mejores diseños<span>imita diseños y mejora
          tus habilidades de desarrollador</span></p>

      <i class="fas fa-envelope"><span class="color">diseños@gmail.com</span></i>


      <i class="fas fa-phone"><span>(508) 746-0033</span></i>
      <i class="fas fa-home"><span>Cartagena mz 7 L15</span></i>
      <hr>
    </div>

    <div class="parrafo3">
      2021 Steven Quintana. derechos reservados | Real Estate advertising by <span class="color">placester</span>
    </div>
  </footer>

</body>

</html>